<div
  fxLayout="column"
  fxFlexFill
  fxLayoutAlign="start center"
  fxLayoutAlign.lt-sm="start center"
  style="background-color:#F8F8F8; padding: 5%;"
>
<h2>Indi-Invoice</h2>
  <div class="forgot-password-box">
    <mat-card>
      <mat-card-title>Forget Password
                </mat-card-title>
      <mat-card-content>
          <h5>Tell us the email address you registered with and <br /> we will send a link to change your password.
            </h5>
        <form
          fxLayout="column"
          fxLayoutAlign="start stretch"
          [formGroup]="userForm"
          (ngSubmit)="submit()"
        >
          <mat-form-field class="full-width">
            <input
              type="email"
              id="email"
              class="input"
              placeholder="Please enter your email"
              formControlName="email"
              required
              matInput
              autocomplete="off"
            />
          </mat-form-field>
          <div *ngIf="formErrors.email" class="help is-danger">
            {{ formErrors.email }}
          </div>
          <div>
            <a
            [routerLink]="['/login']"
              mat-raised-button
              color="secondary"
              class="forgot-password"
            >
            <mat-icon class="navigate_before"
              >navigate_before</mat-icon
            >
              Log In
          </a>
              <button
              mat-raised-button
              color="primary"
              type="submit"
              style="float:right"
              [disabled]="!userForm.valid" 
            >
            Submit
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
