<div class="header">
  <p>
    <span class="title">Team</span>
    <button mat-raised-button color="primary" (click)="addNewUser()">
      <mat-icon>add_box</mat-icon> Invite Member
    </button>
  </p>
  <div class="subtitle">
    Grant others access to your business on Ind-Invoices.
  </div>
</div>
<div class="table-wrapper" *ngIf="dataSource.data.length > 0">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z1">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Email Address Column -->
    <ng-container matColumnDef="emailAddress">
      <mat-header-cell *matHeaderCellDef> Email address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.emailAddress }}</mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let element"
        ><span class="tax-mode">{{ element.role }}</span>
      </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element; let index = index">
        <div>
          <mat-icon (click)="editUser(element)" matTooltip="edit"
            >edit</mat-icon
          >
          <mat-icon color="warn" (click)="deleteUser(index)" matTooltip="delete"
            >delete_forever</mat-icon
          >
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<div *ngIf="dataSource.data.length === 0" class="mat-elevation-z1">
  <p class="p20">No Tax Found</p>
</div>
