<div class="dialog ">
  <form action="submit" [formGroup]="customerForm" (ngSubmit)="submit()">
    <h2 mat-dialog-title>
      {{ title }}
      <button [mat-dialog-close]="false">
        <mat-icon class="clear-icon">clear</mat-icon>
      </button>
    </h2>
    <mat-divider></mat-divider>
    <mat-dialog-content>
      <mat-tab-group >
        <mat-tab label="Basic">
          <div>
            <mat-form-field class="au-wt">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Name"
                formControlName="name"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="au-wt">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Email"
                formControlName="email"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="au-wt">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Account (generated if blank)"
                formControlName="account"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="au-wt">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Tax Id"
                formControlName="taxId"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="au-wt">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Private notes on this customer"
                formControlName="notes"
              />
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Address">
          <div class="df">
            <mat-form-field class="mr10 w120">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Attention To"
                formControlName="attentionTo"
              />
            </mat-form-field>
            <mat-form-field class="w120">
              <input
                matInput
                type="tel"
                autocomplete="off"
                placeholder="Phone"
                formControlName="phone"
              />
            </mat-form-field>
          </div>
          <div></div>
          <div>
            <mat-form-field class="au-wt">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Address 1"
                formControlName="address_1"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="au-wt">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Address 2"
                formControlName="address_2"
              />
            </mat-form-field>
          </div>
          <div class="df">
            <mat-form-field class="mr10 w120">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="City"
                formControlName="city"
              />
            </mat-form-field>
            <mat-form-field class="w120">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="State"
                formControlName="state"
              />
            </mat-form-field>
          </div>
          <div></div>
          <div class="df">
            <mat-form-field class="mr10 w120">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Country"
                formControlName="country"
              />
            </mat-form-field>
            <mat-form-field class="w120">
              <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Postal Code"
                formControlName="postalCode"
              />
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
      <button
        mat-raised-button
        type="submit"
        [disabled]="!customerForm.valid"
        color="primary"
      >
        Save
      </button>
    </mat-dialog-actions>
  </form>
</div>
