<mat-toolbar color="primary" class="mat-toolbar">
  <mat-toolbar-row>
    <a [routerLink]="['/']" class="logo">
    <h1 >
      IND-INVOICES
    </h1></a>
    <span fxFlex></span>
    <a [routerLink]="['/login']" mat-raised-button class="auth-btn log-in">
      Log In</a
    >
    <a [routerLink]="['/register']" mat-raised-button class="auth-btn sign-up">
      Sign Up</a
    >
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="invoiceForm" (keydown.enter)="$event.preventDefault()">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxFlexFil
    fxFill
    class="components-container-gt-xs "
    fxLayoutGap="20px"
    fxLayout.lt-sm="column"
    fxLayout.lt-xs="column"
    style="background:#F8F8F8;"
  >
    <div
      fxFlex.xs="100"
      fxFlex.lg="80"
      fxFlex.md="80"
      fxFlex.sm="100"
      class="mat-elevation-z2 home-invoice-container"
      fxLayout="column"
    >
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-xs="column">
        <div
          fxFlex.xs="100"
          fxFlex.lg="80"
          fxFlex.md="70"
          fxFlex.sm="50"
          class="invoice-logo"
        >
          <div *ngIf="!fileToUpload">
            <input
              type="file"
              name="file"
              id="file"
              class="inputfile"
              accept="images/*"
              (change)="handleFileInput($event.target.files)"
            />
            <label for="file">+ Add your logo</label>
          </div>
          <div class="img-container" *ngIf="fileToUpload">
            <img [src]="fileToUpload" alt="fileTOUpload" class="logoPreview" />
            <mat-icon class="clear-icon" (click)="clearLogoPreview()"
              >clear</mat-icon
            >
          </div>
        </div>

        <div
          fxFlex.xs="100"
          fxFlex.lg="20"
          fxFlex.md="30"
          fxFlex.sm="50"
          fxLayoutAlign.lt.sm="start start"
          fxLayout.lt-sm="column"
          fxLayoutAlign="space-around start"
        >
          <div>
            <div class="invoice-name">
              <h2
                contenteditable="true"
                [textContent]="invoice.label.name"
                (input)="invoice.label.name = $event.target.textContent"
              >
                INVOICE
              </h2>
            </div>
            <div>
              <span style="padding: 4px;">#</span>
              <mat-form-field class="invoice-number">
                <input
                  matInput
                  type="number"
                  placeholder="Invoice number"
                  formControlName="number"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="40">
          <div>
            <mat-form-field class="sender-email">
              <input
                matInput
                type="text"
                placeholder="Who is this invoice from?"
                formControlName="sender"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="reveiver-email">
              <input
                matInput
                type="text"
                placeholder="Who is this invoice to?"
                formControlName="receiver"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
        </div>
        <div
          fxFlex.xs="100"
          fxFlex.lg="40"
          fxFlex.md="50"
          fxFlex.sm="60"
          style="text-align:right"
          fxLayout="column"
          fxLayoutAlign="space-around end"
        >
          <div class="dflex">
            <div class="editable-content">
              <h4
                contenteditable="true"
                [textContent]="invoice.label.date"
                (input)="invoice.label.date = $event.target.textContent"
              >
                Date
              </h4>
            </div>
            <mat-form-field class="date">
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="date"
                autocomplete="off"
                type="text"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- <div class="dflex">
            <div class="editable-content">
              <h4
                contenteditable="true"
                [textContent]="invoice.label.paymentTerms"
                (input)="invoice.label.paymentTerms = $event.target.textContent"
              >
                Payment Terms
              </h4>
            </div>
            <mat-form-field>
              <input
                matInput
                formControlName="paymentTerms"
                autocomplete="off"
                type="text"
              />
            </mat-form-field>
          </div> -->
          <div class="dflex">
            <div class="editable-content">
              <h4
                contenteditable="true"
                [textContent]="invoice.label.dueDate"
                (input)="invoice.label.dueDate = $event.target.textContent"
              >
                Due Date
              </h4>
            </div>
            <mat-form-field class="date">
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="dueDate"
                autocomplete="off"
                type="text"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="item-list">
        <div fxFlex="100" class="item-header" fxLayoutGap="10px">
          <div
            fxFlex="36"
            contenteditable="true"
            [textContent]="invoice.label.lineItemName"
            (input)="invoice.label.lineItemName = $event.target.textContent"
          >
            Item
          </div>
          <div
            fxFlex="22"
            contenteditable="true"
            [textContent]="invoice.label.lineItemQuantity"
            (input)="invoice.label.lineItemQuantity = $event.target.textContent"
          >
            Quantity
          </div>
          <div
            fxFlex="21"
            contenteditable="true"
            [textContent]="invoice.label.lineItemRate"
            (input)="invoice.label.lineItemRate = $event.target.textContent"
          >
            Rate
          </div>
          <div
            fxFlex="21"
            contenteditable="true"
            [textContent]="invoice.label.lineItemAmount"
            (input)="invoice.label.lineItemAmount = $event.target.textContent"
          >
            Amount
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="item"
        formArrayName="lineItems"
      >
        <div fxFlex="100" fxLayoutGap="10px">
          <div
            *ngFor="let item of lineItems.controls; let itemIndex = index"
            [formGroupName]="itemIndex"
            class="item-row"
          >
            <div fxFlex="35">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Item"
                  formControlName="name"
                  autocomplete="off"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div fxFlex="23">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Quantity"
                  formControlName="quantity"
                  (keyup)="updateLineItemAmount(itemIndex)"
                  autocomplete="off"
                  type="number"
                />
              </mat-form-field>
            </div>
            <div fxFlex="22">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  placeholder="Rate"
                  formControlName="unitCost"
                  (keyup)="updateLineItemAmount(itemIndex)"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
            <div fxFlex="20" style="display:flex">
              <h4
                style="display:flex"
                [ngStyle]="{
                  'margin-left':
                    itemIndex === lineItems.controls.length - 1 ? '-8px' : 0
                }"
              >
                Rs
                <input
                  readonly
                  type="number"
                  style="margin: 0 0 5px 5px;"
                  matInput
                  formControlName="amount"
                  autocomplete="off"
                />
              </h4>
              <div style="padding-top:20px" *ngIf="itemIndex !== 0">
                <mat-icon class="clear-icon" (click)="removeLineItem(itemIndex)"
                  >clear</mat-icon
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="item">
        <button
          mat-raised-button
          color="primary"
          (click)="addLineItem()"
          type="button"
        >
          + Line Item
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="end start">
        <div class="invoice-balance">
          <div class="balance-name">
            <h4
              contenteditable="true"
              [textContent]="invoice.label.subtotal"
              (input)="invoice.label.subtotal = $event.target.textContent"
            >
              Subtotal
            </h4>
          </div>
          <div class="balance-amount">Rs {{ invoice.subtotal }}</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-evenly end">
        <div style="padding:5px">
          <button
            mat-raised-button
            color="primary"
            *ngIf="!showDiscount"
            (click)="showDiscount = !showDiscount"
            type="button"
          >
            + Discount
          </button>
          <div *ngIf="showDiscount" class="dflex">
            <div class="dflex discount">
              <div class="editable-content">
                <h4
                  contenteditable="true"
                  [textContent]="invoice.label.discount"
                  (input)="invoice.label.discount = $event.target.textContent"
                >
                  Discount
                </h4>
              </div>
              <mat-form-field style="width:100px;">
                <input
                  matInput
                  type="number"
                  formControlName="discountValue"
                  (keyup)="updateTotal()"
                  autocomplete="off"
                />
              </mat-form-field>
              <mat-form-field style="width:50px;padding-left:5px;">
                <mat-select
                  formControlName="discountType"
                  (selectionChange)="updateTotal()"
                >
                  <mat-option value="flat">Rs</mat-option>
                  <mat-option value="percentage">%</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-icon
              class="clear-icon mt20"
              (click)="removeTaxDiscountShipping('discount')"
              >clear</mat-icon
            >
          </div>
        </div>
        <div style="padding:5px">
          <button
            mat-raised-button
            color="primary"
            *ngIf="!showTax"
            (click)="showTax = !showTax"
            type="button"
          >
            + Tax
          </button>
          <div *ngIf="showTax" class="dflex">
            <div class="dflex tax">
              <div class="editable-content">
                <h4
                  contenteditable="true"
                  [textContent]="invoice.label.tax"
                  (input)="invoice.label.tax = $event.target.textContent"
                >
                  Tax
                </h4>
              </div>
              <mat-form-field style="width:100px;">
                <input
                  matInput
                  type="number"
                  placeholder="percentage"
                  formControlName="tax"
                  (keyup)="updateTotal()"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
            <mat-icon
              class="clear-icon mt20"
              (click)="removeTaxDiscountShipping('tax')"
              >clear</mat-icon
            >
          </div>
        </div>
        <div style="padding:5px">
          <button
            mat-raised-button
            color="primary"
            *ngIf="!showShipping"
            (click)="showShipping = !showShipping"
            type="button"
          >
            + Shipping
          </button>
          <div *ngIf="showShipping" class="dflex">
            <div class="dflex shipping">
              <div class="editable-content">
                <h4
                  contenteditable="true"
                  [textContent]="invoice.label.shipping"
                  (input)="invoice.label.shipping = $event.target.textContent"
                >
                  Shipping
                </h4>
              </div>
              <mat-form-field style="width:140px;">
                <input
                  matInput
                  type="number"
                  formControlName="shipping"
                  (keyup)="updateTotal()"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
            <mat-icon
              class="clear-icon mt20"
              (click)="removeTaxDiscountShipping('shipping')"
              >clear</mat-icon
            >
          </div>
        </div>
        <div class="dflex amount-paid">
          <div class="editable-content">
            <h4
              contenteditable="true"
              [textContent]="invoice.label.amountPaid"
              (input)="invoice.label.amountPaid = $event.target.textContent"
            >
              Amount Paid
            </h4>
          </div>
          <mat-form-field style="width:140px;">
            <input
              matInput
              type="number"
              formControlName="amountPaid"
              (keyup)="updateTotal()"
              autocomplete="off"
            />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end start">
        <div class="invoice-balance">
          <div class="balance-name">
            <h4
              contenteditable="true"
              [textContent]="invoice.label.total"
              (input)="invoice.label.total = $event.target.textContent"
            >
              Total
            </h4>
          </div>
          <div class="balance-amount">Rs {{ invoice.total }}</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end start">
        <div class="invoice-balance">
          <div class="balance-name">
            <h4
              contenteditable="true"
              [textContent]="invoice.label.balanceDue"
              (input)="invoice.label.balanceDue = $event.target.textContent"
            >
              Balance Due
            </h4>
          </div>
          <div class="balance-amount">Rs {{ invoice.balanceDue }}</div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayout.lt-xs="column"
        fxLayoutAlign="start start"
      >
        <div class="invoice-balance">
          <div class="balance-name">
            <h4
              contenteditable="true"
              [textContent]="invoice.label.notes"
              (input)="invoice.label.notes = $event.target.textContent"
            >
              Notes
            </h4>
          </div>
        </div>
        <mat-form-field style="width:80%">
          <textarea
            matInput
            type="text"
            matTextareaAutosize
            matAutosizeMinRows="2"
            matAutosizeMaxRows="5"
            formControlName="notes"
            placeholder="any relevant information"
            autocomplete="off"
          ></textarea>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayout.lt-xs="column"
        fxLayoutAlign="start start"
      >
        <div class="invoice-balance">
          <div class="balance-name">
            <h4
              contenteditable="true"
              [textContent]="invoice.label.terms"
              (input)="invoice.label.terms = $event.target.textContent"
            >
              Terms
            </h4>
          </div>
        </div>
        <mat-form-field style="width:80%">
          <textarea
            matInput
            type="text"
            matTextareaAutosize
            matAutosizeMinRows="2"
            matAutosizeMaxRows="5"
            formControlName="terms"
            placeholder="Terms and conditions"
            autocomplete="off"
          ></textarea>
        </mat-form-field>
      </div>
      <!-- <mat-divider></mat-divider> -->
    </div>
    <div
      fxFlex.xs="100"
      fxFlex.lg="20"
      fxFlex.md="20"
      fxFlex.sm="100"
      fxLayout="column"
      style="background: #eee;"
    >
      <div
        fxLayout="100"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="20px"
        fxLayout.lt-sm="row"
        fxLayoutAlign.lt-sm="center center"
        style="margin:20px auto"
      >
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onSubmit()"
        >
          Send Invoice
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="downloadInvoice()"
        >
          <mat-icon class="clear-icon">cloud_download</mat-icon> Download
          Invoice
        </button>
      </div>
      <div
        fxLayout="100"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayout.lt-sm="row"
        fxLayoutAlign.lt-sm="center center"
      >
        <div class="dflex mr20">
          <h4>Currency: INR  </h4> <mat-icon class="edit-icon" click="changeCurrency()">edit</mat-icon>
        </div>
        <a [routerLink]="['/invoices']" class="my-invoice" >My Invoices <span>{{l_invoicesIds.length}}</span></a>
      </div>
    </div>
  </div>
</form>
