.dialog {
    .mat-dialog-title {
      button {
        background: #fff;
        border: none;
        float: right;
        outline:0;
        .clear-icon {
          cursor: pointer;
          background: #f5f5f5;
          border-radius: 4px;
        }
        .clear-icon:hover {
          background: #42a5f5;
        }
      }
      button:hover {
        background: #fff;
        outline:0
      }
    }
    .mat-dialog-content{
      margin-bottom: 20px;
      .font20{
        font-size: 1.2rem;
      }
      .ptb10{
        padding: 10px 0 10px 0;
      }
      @media screen and (min-width: 599px) {
        .au-wt{
          width: 300px;
        }
      }
      @media screen and (max-width: 599px) {
        .au-wt{
          width: 230px;
        }
      }
    }
  }
  