<div
  fxLayout="column"
  class="dashboard"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="10px"
  fxFlexFill
>
  <div
    fxLayout="column"
    style="background-color: white; padding: 10px;"
    fxLayoutAlign="space-between stretch"
    fxFlexFill
    class="mat-elevation-z2"
    fxFlex="80"
  >
    <div>
      <mat-toolbar *ngIf="invoices && invoices.length >0">
        <h3 class="mat-heading">Collections</h3>
        <span fxFlex></span>
        <div fxHide.xs>
          <mat-form-field class="startdate mr20">
              <input
                matInput
                [matDatepicker]="date1"
                placeholder="From"
                autocomplete="off"
                name="startDate"
                [max]="maxDate"
                [min]="minDate"
                [(ngModel)]="startDate"
                (dateChange)="dateChange('start', $event.value)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="date1"
              ></mat-datepicker-toggle>
              <mat-datepicker #date1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="date2">
              <input
                matInput
                [matDatepicker]="date2"
                placeholder="To"
                autocomplete="off"
                name="endDate"
                [(ngModel)]="endDate"
                [max]="maxDate"
                [min]="minDate"
                (dateChange)="dateChange('end', $event.value)"
              />
              <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
              <mat-datepicker #date2></mat-datepicker>
            </mat-form-field>
        </div>
      </mat-toolbar>
      <div fxFlexFill>
        <div fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="100">
            <p *ngIf="!invoices || invoices.length === 0" class="pl20">{{ itemLoading }}</p>
            <div>
                <div  class="dash-bar-graph-holder" [ngStyle]="{'height':'220px'}">
                    <canvas id="dash-bar-graph"></canvas>
                </div>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="invoicedAmount">
            <h3><span style="color:rgba(66, 165, 245, .7)"> Invoiced  Rs: </span> {{invoicedAmount}}  <span style="color:rgba(38, 166, 154, .7)" class="pl20">Collected Rs: </span> {{collectedAmount}} </h3>
          </div>
      </div>
    </div>
  </div>
</div>