<div class="header">
  <p>
    <span class="title">Invoices</span>

    <a
      [routerLink]="['new', dataSource.data.length + 1]"
      mat-raised-button
      color="primary"
    >
      New Invoice
    </a>
  </p>
</div>
<div class="mat-elevation-z1" *ngIf="dataSource.data.length > 0">
  <div>
    <mat-form-field class="filter">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field class="status" style="width: 115px;">
      <mat-select
        placeholder="Status"
        [(ngModel)]="status"
        (selectionChange)="changeStatus()"
      >
        <mat-option *ngFor="let st of statusData" [value]="st">
          {{ st }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-wrapper">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Invoice Name Column -->
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Invoice
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.number }}
        </mat-cell>
      </ng-container>

      <!-- Customer Column -->
      <ng-container matColumnDef="customerName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Customer
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.customerName }}
        </mat-cell>
      </ng-container>
      <!-- date Column -->
      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.dueDate | date }}
        </mat-cell>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>
          Total
        </mat-header-cell>
        <mat-cell *matCellDef="let element">Rs {{ element.total }} </mat-cell>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balanceDue">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Balance
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
          >Rs {{ element.balanceDue }}
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element; let index = index">
          <div style="display: flex;">
            <a
              *ngIf="element.balanceDue > 0"
              style="color: rgba(0, 0, 0, 0.87);"
              [routerLink]="['edit', element.id]"
            >
              <mat-icon matTooltip="edit">edit</mat-icon>
            </a>
            <a
              style="color: #42a5f5;"
              [routerLink]="[
                'duplicate',
                element.id,
                dataSource.data.length + 1
              ]"
            >
              <mat-icon matTooltip="duplicate">file_copy</mat-icon>
            </a>
            <mat-icon
              (click)="downloadInvoice(element.id,element.name)"
              matTooltip="download"
              >vertical_align_bottom</mat-icon
            >
            <mat-icon
              color="primary"
              (click)="sendInvoice(element)"
              matTooltip="send"
              >send</mat-icon
            >
            <mat-icon
              class="payment"
              (click)="receivePayment(element)"
              *ngIf="element.balanceDue > 0"
              matTooltip="receive payment"
              >payment</mat-icon
            >
            <mat-icon
              color="warn"
              (click)="deleteInvoice(element.id, index)"
              matTooltip="delete"
              >delete_forever</mat-icon
            >
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
<div class="mat-elevation-z1" *ngIf="dataSource.data.length === 0">
  <p class="p20">{{ itemLoading }}</p>
</div>
