<mat-toolbar color="primary" class="mat-toolbar">
  <mat-toolbar-row>
    <a [routerLink]="['/']" class="logo">
      <h1>
        IND-INVOICES
      </h1>
    </a>
    <span fxFlex></span>
    <a [routerLink]="['/login']" mat-raised-button class="auth-btn log-in">
      Log In</a
    >
    <a [routerLink]="['/register']" mat-raised-button class="auth-btn sign-up">
      Sign Up</a
    >
  </mat-toolbar-row>
</mat-toolbar>

<div
  fxLayout="row"
  fxLayoutAlign="space-between stretch"
  fxFlexFil
  fxFill
  class="components-container-gt-xs "
  fxLayout.lt-sm="column"
  fxLayout.lt-xs="column"
>
  <div class="mat-elevation-z2 invoice-container" fxLayout="column">
    <h2 class="text-center">My Invoices</h2>
    <p class="text-center">
      We automatically save any invoices that you draft to your device.
    </p>
    <div
      *ngIf="invoices.length > 0"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
    >
      <div *ngFor="let inv of invoices; let index" class="invoice">
        <a [routerLink]="['/', inv.number]">
          <mat-icon
            class="clear-icon"
            (click)="
              deleteInvoice(inv.number, index);
              $event.preventDefault();
              $event.stopPropagation()
            "
          >
            delete
          </mat-icon>
          <p class="title">Rs {{ inv.total }}</p>
          <p class="name">{{ inv.receiver }}</p>
          <p class="date">{{ inv.createdAt | date }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
