.mat-toolbar {
  .auth-btn {
    box-shadow: none;
    background-color: #42a5f5;
    color: #fff;
  }
  .log-in {
    margin-right: 5px;
  }
  .log-in:hover,
  .sign-up:hover {
    text-decoration: underline;
  }
  .sign-up {
    border: 1px solid #fff;
  }
  .logo{
    text-decoration: none;
  }
}
.invoice-container {
  margin: 20px;
  padding: 10px;
}
.invoice {
    margin: 20px;
    a{
        text-decoration: none;
        color: #000;
    }
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  position: relative;
  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .date {
    font-size: 0.8rem;
  }
  .clear-icon {
    cursor: pointer;
    height: 20px;
    width: 20px;
    font-size: 20px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
}
.invoice:hover {
  border-color: #42a5f5;
  cursor: pointer;
  .clear-icon {
    color: #f44336;
    display: block;
  }
}
// @media screen and (max-width: 699px) {
//     .invoice{
//         margin-right: 0;
//     }
// }

