$gray-lighter: #eceeef !default;
$image_path: "/assets/" !default;

$prefix: 'forgotpassword';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}
.forgot-password-box{
  margin-right: 30px;
  .mat-card{
    width: 100%;
    .navigate_before{
      width: 15px;
      font-size: 20px;
    }
    .is-danger {
      color:#f44336;
      padding-bottom: 15px;
    }
  }
}
