<div fxLayout="column" fxFlexFill fxLayoutAlign="start center" style="background-color:#F8F8F8; padding: 5%;">
  <h2>
    <a [routerLink]="['/']" mat-button color="text" class="app-name">
      Indi-Invoice
    </a>
  </h2>
  <div class="login-box">
    <mat-card>
      <mat-card-title>User login
      </mat-card-title>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginForm" (ngSubmit)="submit()">
          <mat-form-field class="full-width">
            <input type="email" id="email" class="input" placeholder="Please enter your email" formControlName="email"
              required matInput autocomplete="off" />
          </mat-form-field>
          <div *ngIf="formErrors.email" class="help is-danger">
            {{ formErrors.email }}
          </div>
          <mat-form-field class="full-width">
            <input type="password" id="password" class="input" placeholder="please  enter your password"
              formControlName="password" required matInput autocomplete="off" />
          </mat-form-field>
          <div *ngIf="formErrors.password" class="help is-danger">
            {{ formErrors.password }}
          </div>
          <div class="is-danger" *ngIf="serverError">
            {{serverError}}
          </div>
          <div>
            <a [routerLink]="['/forgotpassword']" mat-raised-button color="secondary" class="forgot-password">
              Forgot password?
            </a>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
            Log In
          </button>
        </form>
        <div class="sign-up">
          <span> Don't have an account? </span> <a [routerLink]="['/register']" mat-raised-button color="secondary">
            Sign Up
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>