$gray-lighter: #eceeef !default;
$image_path: "/assets/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}
.app-name {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.login-box{
  margin-right: 30px;
  .mat-card{
    width: 100%;
    .forgot-password{
      float: right;
      box-shadow: none;
      margin-bottom: 10px;
    }
    .forgot-password:hover{
    text-decoration: underline;
    color: #42a5f5;
    }
    .sign-up{
      margin: 20px;
      .mat-raised-button{
        box-shadow: none;
        padding-left: 5px;
        text-decoration: underline;
        font-weight: bolder;
      }
      .mat-raised-button:hover{
        color: #42a5f5;
      }
    }
  }
}
.full-width {
  width: 100%;
}

// .help {

// }


.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}
