@import "~@angular/material/theming";
@import "../node_modules/ngx-toastr/toastr.css";
@import "./app/auth/auth.component.scss";
@import "./app/base/sidemenu/sidemenu.component.scss";
@import "./app/base/sidemenu-item/sidemenu-item.component.scss";
@import "./app/modules/home/home.component.scss";
@import "./app/modules/invoices/new-invoice/new-invoice.component.scss";

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  hover: rgba(black, 0.04),
  // TODO(kara): check style with Material Design UX card: white,
  dialog: white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200)
);

@include mat-core();

$primary: $mat-blue;
$accent: $mat-orange;
$warn: $mat-red;

$primary-app-primary: mat-palette($primary, 400);
$primary-app-accent: mat-palette($accent, 900);
$primary-app-warn: mat-palette($warn);
$app-theme: mat-light-theme(
  $primary-app-primary,
  $primary-app-accent,
  $primary-app-warn
);

app-sidemenu {
  $sidemenu-app-primary: mat-palette($primary, 400);
  $sidemenu-app-accent: mat-palette($accent, 900);
  $sidemenu-app-warn: mat-palette($warn);
  $app-sidemenu-theme: mat-dark-theme(
    $sidemenu-app-primary,
    $sidemenu-app-accent,
    $sidemenu-app-warn
  );
  @include mat-list-theme($app-sidemenu-theme);
}

app-sidemenu-item {
  @include sidemenu-item($app-theme, 20px);
}

@include angular-material-theme($app-theme);
@include auth($app-theme);

html {
  height: 100%;
}
body {
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
}
.components-container-gt-xs {
  padding: 20px;
}
.components-container-xs {
  padding: 5px !important;
}
.component-preview {
  padding: 20px;
}
.ps-content {
  height: 100%;
  overflow: hidden;
}
.wd-150 {
  width: 150px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.m20{
  margin: 20px
}
.mr20 {
  margin-right: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.p20{
  padding: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.p10{
  padding: 10px;
}
.dflex {
  display: flex;
}
.is-danger {
  color:#f44336;
  padding-bottom: 20px;
}
.text-bold{
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.mat-select-panel,.mat-autocomplete-panel,.mat-calendar{
  background-color: #fff;
}
.loader-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  position: absolute;

  -moz-animation: cssAnimation 1s ease-in 3s forwards;
  /* Firefox */
  animation: cssAnimation 1s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 1s ease-in 3s forwards;
  animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@keyframes cssAnimation {
  to {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.spinner {
  margin: 50vh auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce3 {
  background-color: orange;
}

.spinner .bounce1 {
  background-color: blue;
  animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  background-color: red;
  animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    transform: scale(0);
  }
  40% {
    transform: scale(1);
    transform: scale(1);
  }
}
