<div
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="20px"
  fxFlexFill
  fxFlex="80"
  class="plan-container"
>
  <div
    fxLayout="column"
    class="mat-elevation-z1"
    fxLayoutAlign="space-between stretch"
    fxFlexFill
  >
    <div>
      <mat-toolbar>
        <mat-toolbar-row>
          <h1>
            IND-INVOICES
          </h1>
          <span fxFlex></span>
          <span *ngIf="currentUser" class="info">
            {{ currentUser?.fullName }}, the
            {{ currentUser?.company?.subscription }} subscription for
            {{ currentUser?.company?.name }}
            <span *ngIf="planExpired">has ended</span>
            <span *ngIf="!planExpired">will end</span> on
            {{ currentUser?.company?.subscriptionEndDate | date }}.</span
          >
          <span fxFlex></span>
          <button
            mat-raised-button
            class="logout"
            (click)="logout()"
            color="secondary"
          >
            Logout
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxFlexFill class="m20">
      <div fxFlex="100" *ngFor="let plan of plans">
        <mat-card class="payment-card">
          <mat-card-header>
            <div class="title">
              {{ plan.name }}
              <span class="float-right price">Rs {{ plan.amount }}</span>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="text-center p20">
              {{ plan.description }}
            </p>
            <ul class="payment-info">
              <li class="p10">
                Included Customers
                <span class="float-right">{{ plan.customerIncludes }}</span>
              </li>
              <li class="p10">
                <span
                  matTooltip="Users within your organization that can access Invoiced"
                >
                  Included Users
                </span>
                <span class="float-right">{{ plan.userIncludes }}</span>
              </li>
              <li class="p10" *ngFor="let fe of plan.features">
                <span>
                  {{ fe }}
                </span>
                <mat-icon class="float-right">done</mat-icon>
              </li>
            </ul>
          </mat-card-content>
          <mat-card-actions align="end">
            <button
              (click)="doPayment(plan.name)"
              color="warn"
              mat-raised-button
            >
              SELECT
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
