<form
  action="submit"
  (ngSubmit)="submit()"
  [formGroup]="userProfileForm"
  class="user-form"
>
  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    class="components-container-gt-xs mat-elevation-z1"
    fxFlex="50"
    fxFlex.lt-sm="80"
    style="margin:20px auto;"
    *ngIf="currentUser"
  >
    <div>
      <mat-form-field style="width:250px">
        <input
          matInput
          placeholder="Company"
          autocomplete="off"
          formControlName="company"
          type="text"
        />
      </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width:250px">
          <input
            matInput
            placeholder="Email"
            autocomplete="off"
            formControlName="email"
            type="email"
          />
        </mat-form-field>
      </div>
    <div>
      <mat-form-field style="width:250px">
        <input
          matInput
          placeholder="Full Name"
          autocomplete="off"
          formControlName="fullName"
          type="text"
        />
      </mat-form-field>
      <div *ngIf="formErrors.fullName" class="is-danger">
        {{ formErrors.fullName }}
      </div>
    </div>
    <div>
      <mat-form-field style="width:250px">
        <input
          matInput
          placeholder="Password"
          autocomplete="off"
          formControlName="password"
          type="password"
          matTooltip="password between 8 to 24 characters which contain at least one numeric digit, one uppercase and one lowercase letter."
        />
      </mat-form-field>
      <div *ngIf="formErrors.password" class="is-danger">
        {{ formErrors.password }}
      </div>
    </div>
    <div>
      <mat-form-field style="width:250px">
        <input
          matInput
          placeholder="Confirm Password"
          autocomplete="off"
          formControlName="confirmPassword"
          type="password"
        />
      </mat-form-field>
      <div *ngIf="formErrors.confirmPassword" class="is-danger">
        {{ formErrors.confirmPassword }}
      </div>
    </div>
    <div class="is-danger" *ngIf="serverError">{{ serverError }}</div>
    <div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!userProfileForm.valid"
      >
        Save
      </button>
    </div>
  </div>
</form>
