<div
  fxLayout="row"
  fxFlexFill
  fxLayoutAlign="start start"
  style="background-color:#F8F8F8; padding: 5%"
>
  <div
    fxLayout="column"
    fxFlex.xs="100"
    fxFlex.lg="50"
    fxFlex.md="50"
    fxFlex.sm="100"
    fxLayoutAlign="start center"
  >
    <h2>Indi-Invoice</h2>
    <div class="register-box">
      <mat-card>
        <mat-card-title>New User </mat-card-title>
        <mat-card-content>
          <form
            fxLayout="column"
            fxLayoutAlign="start stretch"
            [formGroup]="userForm"
            (ngSubmit)="submit()"
          >
            <mat-form-field class="full-width">
              <input
                type="text"
                id="firstName"
                class="input"
                placeholder="Please enter your full name"
                formControlName="firstName"
                required
                matInput
                autocomplete="off"
              />
            </mat-form-field>
            <div *ngIf="formErrors.firstName" class="help is-danger">
              {{ formErrors.firstName }}
            </div>
            <mat-form-field class="full-width">
              <input
                type="text"
                id="companyName"
                class="input"
                placeholder="Please enter your company name"
                formControlName="companyName"
                required
                matInput
                autocomplete="off"
              />
            </mat-form-field>
            <div *ngIf="formErrors.companyName" class="help is-danger">
              {{ formErrors.companyName }}
            </div>
            <mat-form-field class="full-width">
              <input
                type="email"
                id="email"
                class="input"
                placeholder="Please enter your email"
                formControlName="email"
                required
                matInput
                autocomplete="off"
              />
            </mat-form-field>
            <div *ngIf="formErrors.email" class="help is-danger">
              {{ formErrors.email }}
            </div>
            <mat-form-field class="full-width">
              <input
                type="password"
                id="password"
                class="input"
                placeholder="please  enter your password"
                formControlName="password"
                required
                matInput
                autocomplete="off"
              />
            </mat-form-field>
            <div *ngIf="formErrors.password" class="help is-danger">
              {{ formErrors.password }}
            </div>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!userForm.valid"
            >
              Sign Up
            </button>
          </form>
          <div class="sign-up">
            <span>Already have an account?</span>
            <a [routerLink]="['/login']" mat-raised-button color="secondary">
              Sign In
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div
    class="column"
    fxLayoutAlign="start start"
    fxFlex.xs="0"
    fxFlex.lg="50"
    fxFlex.md="50"
    fxFlex.sm="0"
    fxShow.sm="false"
    fxShow.xs="false"
    style="padding: 5% 5% 0 0"
  >
    <div>
      <h2>Sign up for a 14-day free trial</h2>
      <p>
        No obligation or payment required! 
      </p>
      <p>When we say free, we really mean it.</p>
      <h3>
        Why Invoiced?
      </h3>
      <h4>
        Put billing on autopilot
      </h4>
      <h4>
        Boost cash flow
      </h4>
      <p>
        Businesses on Invoiced get paid 12-16 days faster, on average.
      </p>
      <h4>
        Delight your customers
      </h4>
      <p>
        Today's consumer expects an online experience, even for backoffice
        functions like billing.
      </p>
    </div>
  </div>
</div>
